.livedata-wrapper{
    width:50%;
  }
   
.livedata-wrapper li{
    display: inline-block;
}
.livedata-maindiv{
    width:100%;
    font-size:0;
}
.livedata-maindiv1{
    width: 50%;
    font-size: initial;
    vertical-align: middle;
    display: inline-block;

}
  