.dropdown-wrapper{
    display: inline-block;
    padding-left: 30px;
  
  }
  .chart-wrapper{
    width: 40%;
    height:50%;
  }
  .chart-maincontainer{
    width:100%;
    border:1px solid;
    box-shadow: 0px 0px 10px 4px rgba(119,119,119,0.75);
  }
  .chart-maincontainer h1{
      text-align: center;
  }
  .chart-wrapper1{
    width: 500px;
    height:30%;
  }