<html>
  <head>
      <head>
          <title>Bar Chart Pan</title>
          <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
          <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
          <script src="../dist/chartjs-plugin-zoom.min.js"></script>
        
          <style>
          canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
          }
          </style>
        </head>
        
  </head>
  <body>
<h1>LiveData</h1>
 <!-- <div [innerHtml]="iframe_html"></div> 
<div class="livedata-wrapper">
   <iframe src="//iframe.dacast.com/b/134679/c/504781" width="80%" height="50%" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</div> -->
   <div class="dropdown-wrapper">
     <select  (change) = "buildingValue($event)" name = "buildingvalue">
       <option>building-1</option>
       <option>building-2</option>
       <option>building-3</option>
       <option>building-4</option>
       <option>building-5</option>
       <option>building-6</option>
     </select>
   </div>
   <div class="dropdown-wrapper">
     <select (change) = "floorValue($event)" name = "floorvalue">
      <option>Floor-1</option>
      <option>Floor-2</option>
      <option>Floor-3</option>
      <option>Floor-4</option>
      <option>Floor-5</option>
      <option>Floor-6</option>
    </select>
  </div>
  <div class="dropdown-wrapper">
    <select  (change) = "houseValue($event)" name = "housevalue">
      <option>House-1</option>
      <option>House-2</option>
      <option>House-3</option>
      <option>House-4</option>
      <option>House-5</option>
      <option>House-6</option>
    </select>
 
  </div>
  <!-- <div *ngFor = "let list of liveDataList"> -->
  <div class="chart-maincontainer">
    <h1>Hall</h1>
    <button (click) = "reset()" >Reset zoom</button>
        <table>
           <tr>
            <td class= "chart-wrapper"><canvas class= "chart" id= "lineChart" ></canvas></td>
            
            <td class= "chart-wrapper"><canvas id= "lineChart2"></canvas></td>
            <td class= "chart-wrapper"><canvas id= "barChart1"></canvas></td>
            <td class= "chart-wrapper"><canvas id= "lineChart1"></canvas></td>
           </tr> 
        </table>
         
  </div>
  <div class="chart-maincontainer">
      <h1>kitchen</h1>
          <table>
             <tr>
              <td class= "chart-wrapper"><canvas class= "chart" id= "kitchen-lineChart"></canvas></td>
              <td class= "chart-wrapper"><canvas id= "kitchen-lineChart2"></canvas></td>
             
             </tr>
             <tr> 
                <td class= "chart-wrapper"><canvas id= "kitchen-barChart1"></canvas></td>
                <td class= "chart-wrapper"><canvas id= "kitchen-lineChart1"></canvas></td>
              
             </tr> 
          </table> 
    </div>
    <div class="chart-maincontainer">
        <h1>Room</h1>
            <table>
               <tr>
                <td class= "chart-wrapper"><canvas class= "chart" id= "room-lineChart"></canvas></td>
                <td class= "chart-wrapper"><canvas id= "room-lineChart2"></canvas></td>
               
               </tr>
               <tr> 
                  <td class= "chart-wrapper"><canvas id= "room-barChart1"></canvas></td>
                  <td class= "chart-wrapper"><canvas id= "room-lineChart1"></canvas></td>
                
               </tr> 
            </table> 
      </div>
    <!-- </div>   -->
  </body>
    </html>