
<h1>LiveData</h1>
  
   <div class="dropdown-wrapper">
     <select>
       <option>building-1</option>
       <option>building-2</option>
       <option>building-3</option>
       <option>building-4</option>
       <option>building-5</option>
       <option>building-6</option>
     </select>
   </div>
   <div class="dropdown-wrapper">
     <select>
      <option>Floor-1</option>
      <option>Floor-2</option>
      <option>Floor-3</option>
      <option>Floor-4</option>
      <option>Floor-5</option>
      <option>Floor-6</option>
    </select>
  </div>
  <div class="dropdown-wrapper">
    <select>
      <option>House-1</option>
      <option>House-2</option>
      <option>House-3</option>
      <option>House-4</option>
      <option>House-5</option>
      <option>House-6</option>
    </select>
 
  </div>
  <!-- <div class="chart-maincontainer"> -->
    <h1>Hall</h1>
        <table>
          <tr>
            <td class= "chart-wrapper"><canvas id= "lineChart"></canvas></td>
            <td class= "chart-wrapper"><canvas id= "barChart"></canvas></td>
          </tr>
          <tr>
            <td class= "chart-wrapper"><canvas id= "barChart1"></canvas></td>
            <td class= "chart-wrapper"><canvas id= "lineChart1"></canvas></td>
          </tr>
        </table>
  <!-- </div> -->
 